.reply-menu .grey{
    color: grey;
}

.reply-menu .blue{
    color: cornflowerblue;
}

.fa-trash:hover{
    cursor: pointer;
    color: #b70017 !important;
}

.fa-pencil:hover{
    cursor: pointer;
    color: cornflowerblue !important;
}
